@font-face{font-family:'Open Sans Bold';src:url(../fonts/OpenSans-Bold.ttf) format('truetype')}
@font-face{font-family:'Open Sans Bold Italic';src:url(../fonts/OpenSans-BoldItalic.ttf) format('truetype')}
@font-face{font-family:'Open Sans Extra Bold';src:url(../fonts/OpenSans-ExtraBold.ttf) format('truetype')}
@font-face{font-family:'Open Sans Extra Bold Italic';src:url(../fonts/OpenSans-ExtraBoldItalic.ttf) format('truetype')}
@font-face{font-family:'Open Sans Italic';src:url(../fonts/OpenSans-Italic.ttf) format('truetype')}
@font-face{font-family:'Open Sans Light';src:url(../fonts/OpenSans-Light.ttf) format('truetype')}
@font-face{font-family:'Open Sans Light Italic';src:url(../fonts/OpenSans-LightItalic.ttf) format('truetype')}
@font-face{font-family:'Open Sans Regular';src:url(../fonts/OpenSans-Regular.ttf) format('truetype')}
@font-face{font-family:'Open Sans Semibold';src:url(../fonts/OpenSans-Semibold.ttf) format('truetype')}
@font-face{font-family:'Open Sans Semibold Italic';src:url(../fonts/OpenSans-SemiboldItalic.ttf) format('truetype')}


body {
  color:#454545;
  font-family:'Open Sans Regular';
}


.row-flex, .row-flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
    -webkit-flex: 2;
    flex: 2;
}

#header { background:#fff; height:63px; position:absolute; background:rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 0.6) 72%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0; z-index:1; width:100%;}
#header .logo img { padding-top:25px;}
#header .menu {padding-left:0;}
#header .menu ul {list-style:none; padding-left:0; padding-top:25px;}
#header .menu ul li {float:left; font-family: "Open Sans Semibold"; font-size:15px; padding-left:40px;}
#header .menu ul li a {color:#454545;}
#header .menu ul li a:hover {color:#FF9000; text-decoration:none;}
#header .menu ul li i.fa {color:#FF9000; font-size:25px;}
#header .login-btn {text-align:right; padding-top:15px;}
#sliderbox {position:relative; z-index:0;}

.btn {padding:12px;border-color: #FF9000; padding:10px 15px; border-radius:20px;font-family: "Open Sans Semibold"; font-size:15px;}
.btn-primary {background-color: #FF9000;border-color: #FF9000; }
.btn-primary:hover {background-color: #666666;border-color:#666666; }
.btn-default {color: #FF9000;}
.btn-lg .fa {font-size: 20px; line-height: inherit; position: absolute; right: 16px; top: 0;}
.btn-lg {border-radius: 25px;box-sizing: content-box;display: inline-block;font-family: "Open Sans Semibold",sans-serif;font-size: 16px; height: 48px; line-height: 48px; padding: 0 85px; position: relative;text-transform: uppercase;}



.carousel-caption {top:115px;bottom:0; text-shadow:none; left:12%; color:#324151; }
.carousel-caption h1 {font-family: "Open Sans Extra Bold"; font-size:57px; text-align:left;}
.carousel-caption p {font-family: "Open Sans Regular"; font-size:17px; text-align:left; margin-bottom:35px;}
.carousel-control.left {background-image:none;}
.carousel-control.right {background-image:none;}

#search {width:1049px; height:143px; background:#324251; position:absolute; z-index:100; bottom:0; left:50%; margin-left:-524px; padding:40px;}

#search .white-bar {background:#ffffff; width:100%; border-radius:30px; height:65px; padding:15px;}

#search .form-control {border:none; box-shadow:none;}
select.form-control {-moz-appearance: none; background: #fff url("../images/select-arrow.png") no-repeat 100% 50%;}

#date-div {padding:5px;}
#date-div input{width:115px; height:23px; border:1px solid #FF9000; margin-right:5px;}
#date-div span {padding-left: 25px;padding-right: 12px;}
#date-div i.fa {color:#636363;}

#search .submit_btn { background:url("../images/search-btn.png") no-repeat; width:64px; height:66px; border: 0; position:absolute; right:54px; top:39px;}

#members .sticker-heading {margin-left:50px; background:url("../images/members-stickers.png") no-repeat; height:101px;}
#members .sticker-heading h1 {margin-left:86px; font-family: "Open Sans Semibold"; font-size:34px; color:#FF8F00; padding-top:10px;}
#members img.dancer {margin-left:130px; margin-bottom:20px;}
#members h2 {margin-top:110px; margin-left:20px;}
#members h2 {font-family: "Open Sans Regular"; font-size:56px;}
#members h2 span.bold {font-family: "Open Sans Extra Bold";}
#members p.subheading {margin-left:15px; font-family: "Open Sans Light"; font-size:18px; color:#454545;}
#members ul.circle-icons {list-style:none; padding-left:0px; margin-top:50px;}
#members ul.circle-icons li {float:left; padding-right:30px;}
#members ul.circle-icons li span.text {display:block; text-align:center; padding-top:17px; font-family: "Open Sans Semibold"; font-size:14px; color:#FF8F00;}
#members ul.circle-icons li a:hover {text-decoration:none;}

#trainers {background:#F8F8F8 url("../images/meditation-girl.png") no-repeat 100% 100%;}
#trainers .sticker-heading {margin-left:50px; background:url("../images/trainers-stickers.png") no-repeat; height:101px;}
#trainers .sticker-heading h1 {margin-left:86px; font-family: "Open Sans Semibold"; font-size:34px; color:#666666; padding-top:10px;}
#trainers h2 {font-family: "Open Sans Regular"; font-size:56px;}
#trainers h2 span.bold {font-family: "Open Sans Extra Bold";}
#trainers .trainer-text {margin-left:50px; margin-top:40px; margin-bottom:45px;}
#trainers p.subheading {font-family: "Open Sans Light"; font-size:18px; color:#454545;}
#trainers .testimonial {margin-left:50px;}
#trainers .testimonial .col-md-7 {padding-left:0px; padding-bottom:66px;}
#trainers .testimonial .box {background:#ffffff; width:634px; margin-bottom:37px; height:315px;}
#trainers .testimonial .image {width:310px; float:left;}
#trainers .testimonial .message {text-align:center;font-size:17px;color:#454545;}
#trainers .testimonial .message h3 {padding-top:50px; font-family: "Open Sans Extra Bold"; font-size:18px; color:#FF9000; padding-bottom:15px;}
#trainers .testimonial .message p {font-family: "Open Sans Regular"; padding-left:15px; padding-right:15px; padding-bottom:30px;}
#trainers .testimonial span.author {font-family: "Open Sans Italic";}

#footer {background:#FF8F00; height:210px;}
#footer .row {padding-top:37px; font-family: "Open Sans Regular"; font-size:18px; color:#ffffff;}
#footer .row .follow {padding-top:25px;}
#footer .row img {padding-top:25px;}
#footer .row ul {padding-top:25px; list-style:none;}
#footer .row ul li {padding-bottom:5px;}
#footer .row a {text-decoration:none; color:#ffffff;}
#footer  span.credit { display:block; font-size:13px; padding-top:10px;}
#footer ul.social-links {padding-top:0px; list-style:none; padding-left:0px; margin-top: -15px;}
#footer ul.social-links  li {float:left; margin-right:10px;}


div.inside-page {padding-top:80px; padding-bottom:80px; min-height:500px;}
div.inside-page h1 {padding-bottom:10px; color:#877773; font-size:35px; font-family: "Open Sans Light";}
div.inside-page p {text-align:justify;}
div.inside-page strong {color:#FF9000;}
div.inside-page a {color:#FF9000;}

input.form-control {border-radius:20px; border:1px solid #d3cfce; box-shadow:none; padding:8px 12px; height:40px; font-size:16px; color:#FF8F00;}
.form-control:focus {border-color:#FF8F00; box-shadow: none;}

select.form-control { background-color: #fff; border: 1px solid #d3cfce; cursor: pointer; display: block; height: 24px; line-height: 24px; padding: 8px 47px 8px 12px; height:40px; border-radius:0px; box-shadow:none; color:#007dba;  -webkit-appearance: none;  -moz-appearance: none; appearance: none; -o-appearance:none;  background: url(../images/select-arrow.png) no-repeat 99% #fff; min-width:180px;}

select.form-control::-ms-expand{
  display:none;
}

select option {border-top:1px solid #eee; padding:8px 12px; color:#756763;}
select option:hover{background:#eee;}

input[type=radio]:not(old){
  width   : 25px;
  margin  : 0;
  padding : 0;
  opacity : 0;
  cursor:pointer;
}
input[type=radio]:not(old) + label {
  display      : inline-block;
  margin-left  : -25px;
  padding-left : 30px;
  background:url(../images/radio.png) no-repeat 0 0;
  line-height  : 25px;
  padding-right:25px;

}
input[type=radio]:not(old):checked + label {
  background:url(../images/radio-checked.png) no-repeat;
}

.dl-horizontal dt {line-height:35px;}

#myModal input {border-radius:0;}
#myModal .modal-dialog {width:650px;}

#search_form input.form-control {border-radius:0;}
div.inside-page a.btn-primary { color:#ffffff;}
#activity-item h2 {font-family: "Open Sans Bold"; padding-bottom:10px; color: #ff8f00;}
#activity-item a.fa-calendar {color: #ff8f00;}
#profile-panel h3 {font-family: "Open Sans Bold"; padding-bottom:10px; color: #ff8f00;}

#profile-panel .panel-body {padding:0;}
#profile-panel .panel-text {padding:0 15px 15px;}

#listing-panel .panel-default {padding:0;}
#listing-panel .panel-body {padding:0 15px 15px;}

button.btn-action {padding:5px 10px;}

#create-activity select.form-control {border-radius:20px; background:#fff url("../images/select-arrow.png") no-repeat scroll 95% center;}

.fc-event-skin {background:#FF8F00;}



/** Mobile **/
@media (max-width: 768px) {

 #no-more-tables table, #no-more-tables thead, #no-more-tables tbody, #no-more-tables th, #no-more-tables td, #no-more-tables tr {
    display: block;
}
#no-more-tables thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
}
#no-more-tables tr {
    border: 1px solid #ccc;
}
#no-more-tables td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #eee;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    padding-left: 50%;
    position: relative;
    text-align: left;
    white-space: normal;
}
#no-more-tables td::before {
    font-weight: bold;
    left: 6px;
    padding-right: 10px;
    position: absolute;
    text-align: left;
    top: 6px;
    white-space: nowrap;
    width: 45%;
}
#no-more-tables td::before {
    content: attr(data-title);
}

.table-bordered {border:none;}



}

/** Tablet Portrait **/

@media (max-width: 992px) {

 nav.navbar { margin-bottom:0px; border-radius:0px;}
.navbar-default {background:#F8971D; border:none;}
.navbar-default .navbar-toggle {color:#fff; border-color:#fff; width:40px;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background:#f6ad52;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color:#F8971D;}
.navbar-form {box-shadow:none;}

#mobile-toolbar {background-color: #f8971d; border: 1px solid #f8971d; border-radius: 5px; margin-bottom:25px; }
#mobile-toolbar ul {list-style:none; margin:0; padding:0;}
#mobile-toolbar ul li {border-bottom:1px solid #fff;}
#mobile-toolbar ul li.last {border-bottom:none;}
#mobile-toolbar a {color: #fff; padding: 0 10px; display: block; font-size: 12px; position: relative; text-transform: uppercase; height: 44px; line-height: 40px;}
#mobile-toolbar a:hover {text-decoration:none;}

#mobile-details {background-color: #fff; border: 1px solid #f8971d; border-radius: 5px; margin-bottom:25px; margin-top:25px;}
#mobile-details ul {list-style:none; margin:0; padding:0;}
#mobile-details ul li {border-bottom:1px solid #f8971d;}
#mobile-details ul li.last {border-bottom:none;}
#mobile-details a {color: #f8971d; padding: 0 10px; display: block; font-size: 12px; position: relative; text-transform: uppercase; height: 44px; line-height: 40px; }
#mobile-details a:hover {text-decoration:none;}
#mobile-details .fa {font-size: 26px; line-height: 44px; float:right;}

#menu {border-bottom:2px solid #ddd7d7;}
#mobile-breadcrumbs {background-color: #f0f0f0; color: #89817f; font-size: 12px; padding-top:15px; padding-bottom:15px;}

.navbar-form .input-group { margin-bottom:10px;}
.navbar-form input.form-control { border-radius:0;}



 .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
		border-radius:20px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

div.inside-page {padding-top:0;}
.carousel-caption {top:0; padding-top:0;}
.carousel-caption h1 {font-size:25px; margin-top:40px;}
.carousel-caption p {font-size:11px; margin-bottom:0; margin-top:10px;}
.carousel-caption a.btn {font-size:12px;}

#members img.dancer { margin-left:0; margin-top:20px;}
#members h2 {margin-top:0; text-align:center;}
#members p.subheading {text-align:center;}
#members ul.circle-icons li { float:none; text-align:center;}
#trainers h2 {margin-top:0;}
#trainers .message {background:#ffffff; margin-bottom:700px;}
#trainers a.btn { margin-bottom:20px;}

#footer {height:auto;}
#footer ul.list-group a {color:#666666;}
#footer ul.list-group a:hover {color:#FF8F00;}
#footer .row {font-size:14px;}
#footer ul.footer-menu {margin-bottom:0px;}
#footer ul.social-links li {padding-bottom:30px;}

#search-mobile {background:#324251;padding:20px;}

#search-mobile select  {margin-bottom:10px; border-radius:0;}
#search-mobile .input-group {margin-bottom:10px;}
#search-mobile input {border-radius:0;}
#search-mobile .submit_btn { background:url("../images/search-btn.png") no-repeat; width:64px; height:66px; border: 0; }


}

/** PC & Tablet Landscape **/

@media (min-width: 992px) {

.container {width:1080px;}


}

@media (min-width: 1200px) {

}
