@font-face{font-family:'Open Sans Bold';src:url(../fonts/OpenSans-Bold.ttf) format('truetype')}
@font-face{font-family:'Open Sans Bold Italic';src:url(../fonts/OpenSans-BoldItalic.ttf) format('truetype')}
@font-face{font-family:'Open Sans Extra Bold';src:url(../fonts/OpenSans-ExtraBold.ttf) format('truetype')}
@font-face{font-family:'Open Sans Extra Bold Italic';src:url(../fonts/OpenSans-ExtraBoldItalic.ttf) format('truetype')}
@font-face{font-family:'Open Sans Italic';src:url(../fonts/OpenSans-Italic.ttf) format('truetype')}
@font-face{font-family:'Open Sans Light';src:url(../fonts/OpenSans-Light.ttf) format('truetype')}
@font-face{font-family:'Open Sans Light Italic';src:url(../fonts/OpenSans-LightItalic.ttf) format('truetype')}
@font-face{font-family:'Open Sans Regular';src:url(../fonts/OpenSans-Regular.ttf) format('truetype')}
@font-face{font-family:'Open Sans Semibold';src:url(../fonts/OpenSans-Semibold.ttf) format('truetype')}
@font-face{font-family:'Open Sans Semibold Italic';src:url(../fonts/OpenSans-SemiboldItalic.ttf) format('truetype')}


body {
  color:#454545;
  font-family:'Open Sans Regular';
}



#header {
	background:#fff;
	height:63px;
}


#logo img {
	margin-top:20px;
	margin-bottom:10px;
}


#multi-country ul {
	list-style:none;
	float:right;
	font-family: "Open Sans Light";
	
}

#multi-country ul li {
	float:left;
	font-size:12px;
	color:#878787;
	padding-right:7px;
	padding-left:7px;
	padding-top:10px;
	text-align:center;
	
}

#multi-country ul li a {
	color:#878787;
}

#multi-country ul li a:hover {
	color:#0C4CA1;

}

#multi-country ul li.active a {
	color:#0C4CA1;
	font-family: "Open Sans Semibold";
	border-top:4px solid #0c4ca1;
	padding-top:6px;
	
}

#multi-country ul li.active a:hover {
	text-decoration:none;	
}
	
#search {
	float: right;
    padding-right: 7px;
    text-align: right;
    width: 216px;
}

#search input {
	box-shadow:none;
	border-right:none;
	height:100%;
}

#search button.btn {
	background:none;
	color:#0C4CA1;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;;
	border-left:none;
}


nav {
	margin-top:0px;
}

.navbar {
	border-radius:0;
	margin-bottom:0;
	background:#D7C500;
}

.navbar-default {
	border:none;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	font-family: Open Sans Semibold;
    font-size: 14px;
	color:#454545;
	margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px 32px;
	 
}

.navbar-default .navbar-nav > li.first a {
	border:none;
}

.navbar-default .navbar-nav > li {
	width:auto;
	text-align:center;	
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
	background:none;
	font-family: Open Sans Semibold;
}

nav.goToTop {
  position: fixed;
  top: 0;
  width:100%;
  z-index: 1000;
  margin-top:0px;
}

#buy-individuals {
	background:#F2F2F2;
	padding-bottom:70px;
}


#buy-title {
	background: url(../images/arrow-up.png) no-repeat center 100% #034da2;
	text-align:center;
	margin-top:0px;
	
}

#buy-title h3 {
	color: #ffffff;
    font-family: open sans semibold;
    margin-bottom: 25px;
    padding: 10px;
    text-transform: uppercase;
}


#content {
	background:#F0F1F2;
}

#buy {
	background:#ffffff;
    position: relative;
	margin-bottom:30px;
	 border-radius: 0 0 20px 20px;
}

#buy .iconic {
	text-align:center;
	border-right:1px solid #efefef;
	height:130px;
	text-transform:uppercase;
}

#buy a.iconic {
	color:#00499F;
}

#buy a.iconic:hover {
	color:#D7C200;
	text-decoration:none;
}

#buy a.iconic:hover {
	color:#D7C200;
	border-bottom:5px solid #D7C200;
}


#buy i.fa {
	font-size:35px;
	padding-top:40px;
	padding-bottom:10px;
}

#individuals {
	margin-top:50px;
}

#individuals .heading {
	text-align:center;
	font-size:40px;
	font-family:Open Sans Semibold;
	text-transform:uppercase;
	margin-bottom:50px;
}

#individuals .individual-item {
	text-align:center;
}

#individuals .individual-item img {
	text-align:center;
	margin-bottom:0px;
}
	
	

#individuals .circle {
	border:4px solid #666666;
	border-radius:50%;
	width:75px;
	height:75px;
	font-size:30px;
	line-height:55px;
	text-align:center;
	left:46%;
	position:relative;
}

#individuals .sq-box {
	 background: #0c4da2;
    border: none;
    font-family: open sans regular;
    font-size: 15px;
    height: 62px;
    line-height: 50px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 260px;
	margin-bottom:25px;
	color:#fff;
	
}

#individuals .sq-box:hover {
	background:#D7C200;
	border:none;
	color:#fff;
}

input.form-control {
	border-radius:0;
}

.btn {
	border-radius:0;
}

.readmore {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #034da2;
    border-radius: 50px;
    color: #034da2;
    height: 50px;
    width: 200px;
	margin-top:15px;
}

.readmore i.fa {
	padding-left:75px;
}

.readmore:hover {
	background:#D7C200;
	border:none;
	color:#fff;
}

#individuals .readmore {
	width:260px;
}


#professionals {
	margin-top:50px;
	padding-bottom:70px;
}

#professionals .heading{
	text-align:center;
	font-size:40px;
	font-family:Open Sans Semibold;
	text-transform:uppercase;
	margin-bottom:50px;
	color:#00499f;
}

#professionals .circle {
	border:4px solid #00499f;
	border-radius:50%;
	width:75px;
	height:75px;
	font-size:30px;
	line-height:65px;
	text-align:center;
	left:46%;
	position:relative;
}

#professionals i.fa {
	color:#00499f;
}

#professionals ul {
	list-style:none;
}

#professionals ul li {
 border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
	padding-top: 10px;
}

#professionals ul li a {
	color:#666;
}

#professionals ul li a:hover {
		color:#D7C500;
		text-decoration:none;
}
	
#footer {
	background:#262626;
	color:#949494;
	padding:50px 20px 20px;
}

#subs-logo {
	padding-bottom:40px;
	border-bottom:1px solid #666666;
}

#subs-logo ul {
	list-style:none;
	padding-left:0;	
}

#subs-logo ul li {
	padding-top:5px;
	padding-bottom:5px;
	font-size:17px;
	font-family:open sans light;
}

#subs-logo ul li.highlight {
	font-family:open sans regular;
	color:#cccccc;
}

#subs-logo #foot-logo {
	text-align:center;
}

#copy a {
	color:#949494;
	text-decoration:none;
}

#copy a:hover {
	color:#D7C200;
}

#copyright-social {
	padding-top:20px;
}

#copy {
	font-size:14px;
	font-family:open sans light;
	padding-top:10px;
}

#social {
	text-align:center;
}

#social a {
	color:#949494;
}

#social i.fa {
	border: 1px solid #949494;
    border-radius: 50%;
    font-size: 20px;
    height: 38px;
    padding: 8px;
    width: 38px;
}

#social i.fa:hover {
	color:#D7C200;
	border: 1px solid #D7C200;
}


#main {
	background:#ffffff;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:30px;
	margin-bottom:20px;
}

ol.breadcrumb {
	background:#ffffff;
	border-radius:0;
	margin-top:20px;
}

#main h2 {
	font-family:'Open Sans semibold';
	padding-bottom:20px;
	color:#00499F;
	width:100%;
	border-bottom:2px solid #00499F;
	margin-bottom:30px;
}



#main p {

	text-align:justify;

}



#main .panel {

	margin-top:70px;

}



#main blockquote {

	margin-top:20px;
	font-family:open sans light;
	margin-bottom:25px;

}

#main h3 {
	font-family:open sans light;
	margin-bottom:20px;
}

#main ul li.active {
	border-radius:0;	
}

#main ul li a {
	color:#666;
}

#main ul li a:hover {
	color:#D7C500;
	text-decoration:none;
}

#main .alert {
	margin-top:25px;
}

.well, .panel, .alert, .panel li.active {

	border-radius:0;

}



.panel {

	box-shadow:none;

}



#contact {

	border:3px solid #D7C200;

	padding:15px;

}



.panel ul li.active {

	background:#00499f;

	border-radius:0;

}




.fixed-menu {
    top: 265px;
    left: 20px;
    position: fixed;
    z-index: 1000;
	background: none;
	text-align:center;
}

.fixed-menu_item {
    box-sizing: border-box;
    height: 75px;
    position: relative;
    width: 75px;
	border-bottom: 5px solid #333;
	background:#034da2;
	border-radius:50%;
	margin-bottom:-10px;
}

.fixed-menu_item:hover{
	background:#d7c200;
	color:#fff;
	border-bottom:none;
}

#fixed-menu i.fa {
	 color: #fff;
    font-size: 30px;
	padding:20px;

}

#fixed-menu i.fa:hover {
	color:#fff;
}

#slider img {
	width:100%;
}

#main .col-md-8 ul {
	margin-bottom:25px;
}

#main .well {
	margin-top:25px;
	padding-bottom:10px;
}

#contact h3 {
	font-family: open sans regular;
}

/** Mobile **/
@media (max-width: 768px) {

#logo {text-align:center; padding-top:5px;}
#search {padding-bottom: 5px; padding-top: 5px;}
#video-text {padding-top:0px;}
#video-text h1 {font-size:25px;}
.navbar-default .navbar-nav > li {width:100%;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {border-top:none;}
#slider {height:auto;}

#footer ul {padding-left:0;}
#footer .copyright {border-bottom:1px solid #323232; padding-bottom:5px;}
#footer .first {padding-top:10px;}
#footer .alright {text-align:left;}
#footer i.fa-facebook {padding-left:0;}

}

/** Tablet Portrait **/

@media (max-width: 992px) {
.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	
	#multi-country ul {float:none; text-align:center; padding-top:15px; padding-bottom:15px;}
	#search {float:none; text-align:center; padding-top:15px; padding-bottom:15px; width:100%;}
	
	#slider {height:auto;}
	
	#buy-individuals {padding:0;}
	#individuals {margin-top:0;}
	#professionals {margin-top:0; padding-bottom:0;}
	
	#buy-mobile {padding:15px 15px 0;}
	#buy-mobile .list-group-item {background-color:#fff; border:1px solid #fff;}
	#buy-mobile a.heading {background: #034da2 url("../images/arrow-up.png") no-repeat scroll 5% 125%;border-color: #034da2; border-bottom:none;}
	#buy-mobile a.heading span {color:#fff;}
	#buy-mobile a.heading:hover {background-color:#034da2; }
	#buy-mobile a.heading span:hover {color:#fff;}
	#buy-mobile a.list-group-item {color:#034da2;}
	#buy-mobile .list-group-item:hover {background-color:#fff;}
	#buy-mobile a.list-group-item:hover {color:#D7C200;}
	#buy-mobile .fa-angle-right {float: right; font-size: 20px;}
	#buy-mobile {border-top-left-radius: 5px; border-top-right-radius: 5px; border-color:#034DA2;}
	#buy-mobile a.list-group-item:hover {color:#d7c200;}
	
	#products-mobile {padding:15px;}
	#products-mobile a.list-group-item { color: #fff;}
	#products-mobile .list-group-item {background-color: #034da2; border: 1px solid #fff;}
	#products-mobile .fa-angle-right {float: right;font-size: 20px;}
	#products-mobile .list-group-item:hover {background-color:#D7C200;}
	#products-mobile a.list-group-item:hover {color:#fff;}
	
	#footer {text-align:center;}
	#social {margin-top:20px; margin-bottom:10px;}
}

/** PC & Tablet Landscape **/

@media (min-width: 992px) {
	.navbar-default .navbar-nav > li {width:auto;}
 
	#logo {text-align:right; padding-right:0;}
	
}

@media (min-width: 1200px) {
	.navbar-default .navbar-nav > li {width:auto;}
}



