/* body */
body { background-color: #fff; color:#635755; font-family: "Aller Light",sans-serif; font-size: 14px; }

/* header */
#header { background-color: #f8971d; color: #fff; }
#header a, #header img, #header span { display: inline-block; }
#header a:link, #footer a:visited { color: #fff; }
#header a:hover { color: #fff; }

#partner-menu a,#partner-menu a:link { color: #635755; width:100%; }
#partner-menu a:hover { color: #F8971D; text-decoration:none; }

/* banner */
#banner { background-color: #fff; }
#banner row { padding-top:0; padding-bottom:0;}
#banner img { height: auto; vertical-align: top; width: 100%; }

/* menu */
#menu { background-color: #f0f0f0; }
#menu a, #menu img { display: inline-block; }
#menu .link { color: #f8971d; display: block; font-family: 'Aller Bold', sans-serif; font-size: 15px; text-transform: uppercase; }
#menu .link .fa { font-size: 21px; }
#menu .section h2, #menu .section ul, #menu .section li { margin: 0; padding: 0; }
#menu .section ul { list-style: none; }
#menu .section-header { position: relative; text-transform: uppercase; }
#menu .section-header img { left: 0; position: absolute; top: 0; }
#menu .section-header h2 { font-size: 1em; font-weight: normal; }
#menu .section-body a { display: block; position: relative; }
#menu .section-body .fa { position: absolute; }
#menu .section-about-us a:link, a:visited { color: #000; }
#menu .section-about-us .section-body  a:hover { color: #f8971d; }
#menu .section-about-us .fa { color: #f8971d; }
#menu .container {margin-bottom:-2px;}

/* main */
#main { background-color: #fff; padding-bottom:33px; padding-top:33px; }
#main h1 {font-family:"Aller Bold",sans-serif; font-weight: normal; text-transform: uppercase; font-size:30px; color:#F7971D; margin-bottom:33px;}
#main h2 {font-family:"Aller Light",sans-serif; font-weight: normal; text-transform: uppercase; font-size:34px; color:#877773; margin-bottom:50px;}

#main h2.light {color:#B3A59F; font-size:26px; margin-bottom:25px;}
#main h3 {font-family:"Aller Light",sans-serif; font-weight: normal; text-transform: uppercase; font-size:26px; color:#F7931E; margin-bottom:30px;}

#main ul.thumbnails {list-style:none; padding-left:0; margin-bottom:50px;}
#main ul.thumbnails  a.btn-primary {color:#FFF;}
#main ul.thumbnails  a.btn-primary {color:#FFF;}
#main ul.thumbnails  a.btn-primary:hover {color:#f8971d;}
#main ul.thumbnails  a.btn-primary:focus {color:#f8971d;}

#main td {padding:5px;}

#main .btn-lg { padding: 0 85px; height: 48px; line-height: 48px;  box-sizing: content-box; display: inline-block; font-size: 16px; position: relative; text-transform: uppercase; border-radius: 25px; font-family: "Aller Bold",sans-serif; }
#main .btn-lg:hover { background-color: #fff; color: #f8971d; }
#main  .btn-lg .fa { font-size: 20px; right: 16px; line-height: inherit; position: absolute; top: 0;}


#main img.separator {padding-top:25px; padding-bottom:25px;}

#main em.error {color:#a94442}

#main p.perso-bold {font-family: "Aller Bold",sans-serif; font-size:18px; color:#635755;}
#main p.perso-light {ont-family: "Aller Light",sans-serif; font-size:18px; color:#635755; margin-bottom:15px;}

#main dt label {padding-bottom:10px;}

/* bottom */
#bottom {background-color: #f0f0f0; border-top:2px solid #ddd7d7;}
#bottom .line { border-bottom:1px solid #DDD7D7; margin-bottom:25px; }
#bottom .contact { color:#F7931E; font-size:18px; padding-bottom:25px; font-family: "Aller Regular",sans-serif;}
#bottom .contact a { color:#F7931E;}
#bottom .contact a:hover { text-decoration:none;}
#bottom .contact img { padding-right:10px; padding-left:130px;}

/* footer */
#footer { background-color: #f8971d; text-align: center;}
#footer a, #footer img, #footer em, #footer span { display: inline-block; }
#footer .line { border-bottom:2px solid #fab661; }
#footer .bottom, #footer .info { text-transform: uppercase; }
#footer .bottom { font-family: 'Aller Bold', sans-serif; }
#footer .bottom em { color: #e8dfd4; font-style: normal; }
#footer .bottom a { text-decoration: underline; }
#footer .social a { background-color: #fff; margin: 0 2px; border-radius: 50%; }
#footer .social .fa { color: #f8971d; font-size: 23px; height: 46px; line-height: 46px; width: 46px; }
.borderradius #footer .social a { -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

#footer .bottom,  #footer .social, #footer .info { padding: 18px 0 24px; }
#footer a { color: #f1f1f2; }
#footer a:hover { color: #fff; }
#footer .info a {margin: 0 16px; color:#f1f1f2; font-family: "Aller Regular",sans-serif;}
#footer .info a:hover {color:#ffffff; text-decoration:none;}

/* sticker */
.sprite { background-image: url(../images/sprite.png); background-repeat: no-repeat; }
.sticker { left: 0; position: relative; top: -5px; width: 40px; float:left;}
.sticker-small img { height: 58px; width: 40px; }
.sticker-small.skin-1 { background-position: -70px -110px; }

/* Bootstrap overrides */
a {color:#F8971D;}
.dropdown-menu {text-align:left;}
.btn {border-radius: 17px; text-transform: uppercase; }
.btn-primary,a.btn-primary { background-color: #f8971d; border-color: #f8971d;  color: #fff; }
a.btn-success {color:#fff;}

.btn-primary:hover,a.btn-primary:hover,a.btn-primary:link, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{color: #f8971d; border-color: #f8971d; }
.btn-primary:hover{background-color:#fff;}
a.btn-primary:link {color:#fff;}
a.btn-primary:hover {color:#f8971d;}
a.btn-primary:focus {color:#f8971d;}
.btn-primary:active,.btn-primary:focus,.btn-primary.active,.btn-primary.focus{background-color:#fff;color: #f8971d;}

.btn-sm, .btn-group-sm > .btn { border:none; border-radius: 17px;padding: 5px 15px;}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary.focus[disabled], fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {background-color: #f8971d; border-color: #f8971d;}

fieldset[disabled] .btn .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {background-color: #f8971d; border-color: #f8971d;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {background-color: #f8971d; border-color: #f8971d;}
.pagination > li > a, .pagination > li > span {color:#f8971d;}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {color:#ccc;}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {opacity:0.25;}


input.form-control {border-radius:0; border:1px solid #d3cfce; box-shadow:none; padding:8px 12px; height:40px; font-size:16px; color:#f8971d;}
.form-control:focus {border-color:#f8971d; box-shadow: none;}

select.form-control { background-color: #fff; border: 1px solid #d3cfce; cursor: pointer; display: block; height: 24px; line-height: 24px; padding: 8px 47px 8px 12px; height:40px; border-radius:0px; box-shadow:none; color:#f8971d;  -webkit-appearance: none;  -moz-appearance: none; appearance: none; -o-appearance:none;  background: url(../images/select-arrow.png) no-repeat 99% #fff; min-width:180px;}

select.form-control::-ms-expand{
  display:none;
}

select option {border-top:1px solid #eee; padding:8px 12px; color:#756763;}
select option:hover{background:#eee;}

input[type=radio]:not(old){
  width   : 25px;
  margin  : 0;
  padding : 0;
  opacity : 0;
  cursor:pointer;
}
input[type=radio]:not(old) + label {
  display      : inline-block;
  margin-left  : -25px;
  padding-left : 30px;
  background:url(../images/radio.png) no-repeat 0 0;
  line-height  : 25px;
  padding-right:25px;
  
}
input[type=radio]:not(old):checked + label {
  background:url(../images/radio-checked.png) no-repeat;
}

.alert {border-radius:0px;}

#main label { font-weight:normal; font-family:"Aller Regular",sans-serif; font-size:16px; color:#756763;}

.input-group-addon {border-radius:0px;}
.input-group-btn .btn { background: #f8971d; border: none; color: #fff; padding: 10px 12px;}
textarea.form-control {border: 1px solid #d3cfce; border-radius: 0; box-shadow: none; color: #f8971d; font-size: 16px;}
.modal-dialog {width:650px;}
.well {background: url("../images/well-corner.png") no-repeat scroll 100% 100% #f0f0f0; border: medium none; border-radius: 0; box-shadow: none;}	
.well-border {background: url("../images/well-triangle.png") no-repeat scroll 50% 0 rgb(240, 240, 240); border: 1px solid rgb(247, 147, 29);}
.well-border a {color:#F8971D;}
.no-corner {background:#f0f0f0; border: medium none; border-radius: 0; box-shadow: none;}
.modal-content {border-radius:0;}

#perso-well td {padding:10px;}

.progress {background:#EFEFEF; border-radius: 15px;height: 30px;padding: 5px;}
.progress-bar { background-color:#F7971D;box-shadow:none; border-radius: 10px;}
#progress-number {padding-left:15px; font-family: 'Aller Bold', sans-serif; font-size: 15px; color:#F7971D;}

.has-success .form-control {border-color:#F8971D; box-shadow:none;}

/* Benefits Table */
table#benefits .table {margin-bottom:0;}
table#benefits p.bullet-circle {background: url("../images/bullet-circle.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0); padding-left: 15px;}
table#benefits p.extras {font-style:italic;}
table#benefits .fa{color:#867773; padding-left:5px;}
table#benefits td {height: 25px; border:none;}
table#benefits td.orange1 {background:#CCC2C0; color:#ffffff; border-bottom: 1px solid #fff; border-right: 2px solid #fff; text-align:center; vertical-align:inherit; }
table#benefits td.orange2 {background:#B5AAA8; color:#ffffff; border-bottom: 1px solid #fff; border-right: 2px solid #fff; text-align:center; vertical-align:inherit; }
table#benefits td.orange3 {background:#998A87; color:#ffffff; border-bottom: 1px solid #fff; border-right: 2px solid #fff; text-align:center; vertical-align:inherit; }
table#benefits td.brown1 {background:#F9961E; color:#ffffff; border-bottom: 1px solid #fff; border-right: 2px solid #fff; text-align:center; vertical-align:inherit; }
table#benefits td.brown2 {background:#F78222; color:#ffffff; border-bottom: 1px solid #fff;  border-right: 2px solid #fff;text-align:center; vertical-align:inherit; }
table#benefits td.brown3 {background:#F26702; color:#ffffff; border-bottom: 1px solid #fff; border-right: 2px solid #fff; text-align:center; vertical-align:inherit; }

table#benefits td.blank1 {background:#EFEFEF; color:#ffffff; border-bottom: 1px solid #fff; border-right: 2px solid #fff; text-align:center; vertical-align:inherit; }
table#benefits td.blank2 {background:#EFEFEF; color:#ffffff; border-bottom: 1px solid #fff; border-right: 2px solid #fff;text-align:center; vertical-align:inherit; }
table#benefits td.blank3 {background:#EFEFEF; color:#ffffff; border-bottom: 1px solid #fff; border-right: 2px solid #fff; text-align:center; vertical-align:inherit; }

table#benefits label {padding-left:0;}

/* Widgets */
.ui-autocomplete-loading { background: white url(../images/ui-anim_basic_16x16.gif) right center no-repeat;}


/* PC */
@media (min-width: 992px) {
  #header { position: relative; z-index: 200; height:130px; }
  #header .logo {padding-top:20px;}
  #header .title {padding-top:75px;}
  #header #mua {padding-top:18px; padding-bottom:25px;}
  
  
  #menu {border-bottom:2px solid #ddd7d7;}
  #menu ul#breadcrumbs {height:140px; list-style:none; overflow:hidden; margin-bottom:0px; padding-left:30px; }
  #menu ul#breadcrumbs li {float:left; width:193px; border-left:1px solid #DDD8D7; height:140px; }
  #menu ul#breadcrumbs li.active {background:#FFF; border-top:5px solid #F2F2F2;}
  #menu ul#breadcrumbs li.last { border-right:1px solid #DDD8D7;}
  
  #menu ul#breadcrumbs li#step_one { background:url(../images/step1.png);}
  #menu ul#breadcrumbs li#step_one.active { background:url(../images/step1_active.png);}
  
  #menu ul#breadcrumbs li#step_two { background:url(../images/step2.png);}
  #menu ul#breadcrumbs li#step_two.active { background:url(../images/step2_active.png);}
  
  #menu ul#breadcrumbs li#step_three { background:url(../images/step3.png);}
  #menu ul#breadcrumbs li#step_three.active { background:url(../images/step3_active.png);}
  
  #menu ul#breadcrumbs li#step_four { background:url(../images/step4.png);}
  #menu ul#breadcrumbs li#step_four.active { background:url(../images/step4_active.png);}
  
  #menu ul#breadcrumbs li#step_five { background:url(../images/step5.png);}
  #menu ul#breadcrumbs li#step_five.active { background:url(../images/step5_active.png);}
  
 /*
  #menu ul#breadcrumbs li span.text {color:#F8971D; text-align:center; display:block; }
  #menu ul#breadcrumbs li span.number { float:left;}
  */
  
  #bottom .col-md-4,#bottom .col-md-3 { padding-top:30px; padding-bottom:30px; text-align:center;}
  #bottom .btn{ padding: 0 30px 0 38px; height: 32px; line-height: 32px;  box-sizing: content-box; display: inline-block; font-size: 12px;
	 position: relative; text-transform: uppercase; border-radius: 17px; background-color: #f8971d; border-color: #f8971d; color: #fff; font-family: "Aller Regular",sans-serif; }
  #bottom .btn:hover { background-color: #fff; color: #f8971d; }
  #bottom  .btn .fa { font-size: 20px; left: 16px; line-height: inherit; position: absolute; top: 0;}
  #bottom .csstransitions .btn {transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border 0.3s ease 0s;}
  
  dl#long {width:100%;}
	
  dt#long {width:1000px; font-weight:normal; padding-bottom:15px;}
  dd#long {width:160px;}
  
  .table-responsive{ overflow:hidden;}
	  
}

/* mobile & tablet */
@media (max-width: 992px) {

nav.navbar { margin-bottom:0px; border-radius:0px;} 
.navbar-default {background:#F8971D; border:none;}
.navbar-default .navbar-toggle {color:#fff; border-color:#fff; width:40px;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background:#f6ad52;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border-color:#F8971D;}
.navbar-form {box-shadow:none;}

#mobile-toolbar {background-color: #f8971d; border: 1px solid #f8971d; border-radius: 5px; margin-bottom:25px; }
#mobile-toolbar ul {list-style:none; margin:0; padding:0;}
#mobile-toolbar ul li {border-bottom:1px solid #fff;}
#mobile-toolbar ul li.last {border-bottom:none;}
#mobile-toolbar a {color: #fff; padding: 0 10px; display: block; font-size: 12px; position: relative; text-transform: uppercase; height: 44px; line-height: 40px;}
#mobile-toolbar a:hover {text-decoration:none;}

#mobile-details {background-color: #fff; border: 1px solid #f8971d; border-radius: 5px; margin-bottom:25px; margin-top:25px;}
#mobile-details ul {list-style:none; margin:0; padding:0;}
#mobile-details ul li {border-bottom:1px solid #f8971d;}
#mobile-details ul li.last {border-bottom:none;}
#mobile-details a {color: #f8971d; padding: 0 10px; display: block; font-size: 12px; position: relative; text-transform: uppercase; height: 44px; line-height: 40px; }
#mobile-details a:hover {text-decoration:none;}
#mobile-details .fa {font-size: 26px; line-height: 44px; float:right;}

#menu {border-bottom:2px solid #ddd7d7;}
#mobile-breadcrumbs {background-color: #f0f0f0; color: #89817f; font-size: 12px; padding-top:15px; padding-bottom:15px;}

.navbar-form .input-group { margin-bottom:10px;}


 .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	
 .modal-dialog {width:100%;}
 
select#gender {margin-bottom:25px;}
input#firstname {margin-bottom:25px;}

}

@media (max-width: 482px) {
table.stacking td {
	display:block;
	width:250px;
}
}

form#renewal-frm dt {
	text-align:left;
}