
body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 51px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  
    .sidebar-user {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 51px 0px;
    background-color: #1A2226;
    border-right: 1px solid #fff;
  }
  
}

.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; 
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.hide {
display:none;
}

#search-status {
margin-top:15px;
}

#hosting-plans {
margin-top:15px;
}

#hosting-plans .panel {
float:left;
margin-right:15px;
width:300px;
}

#continue-no-hosting {
margin-top:15px;
}

form#order-profile .col-sm-9 {
margin-bottom:15px;
}

label.col-sm-3 {
padding-left:0px;
}

.pay-method {
padding-left:0px;
}

.sidebar-user li {
    border-bottom: 1px solid #999;
    line-height: 40px;
}

h4.panel-title a{
color:#428BCA;
}

label.answer {
color:#555555;
font-weight:normal;
}

ul#admin-sidebar.nav > li > a {
padding:0 15px;
}

ul#admin-sidebar li {
line-height:50px;
}

form#edit .col-sm-9 {
margin-bottom:15px;
}

.date_field_PublishDate, .date_field_UnpublishDate, .date_field_Registration, .date_field_ExpiryDate, .date_field_Date, .date_field_StartDate, .date_field_ExpirationDate, .date_field_PostedOn, .date_field_EmailedOn, .date_field_DueDate, .date_field_ReceivedOn {
 

   background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 50%;

}

table.tablesorter thead {
cursor:pointer;
}

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.morris-hover{position:absolute;z-index:1000;}
.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}
.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}

.navbar-inverse {background-color: #ff8f00; border-color: #ff8f00;}
.navbar-inverse .navbar-nav > li > a {color:#fff;}
 
ul#admin-sidebar li a {color:#b8c7ce;}
ul#admin-sidebar li a:hover {background:#ffffff; color:#1A2226}
.panel-footer {background-color:#333333; color:#ff8f00;}
.page-header{color:#ff8f00; text-transform:capitalize;}
a.btn-xs {border-radius:13px;}
ul#admin-sidebar li a:active {background:#ffffff; color:#1A2226}
span#image_file_info{display: none;}
input#ImgUpload{display: none!important;}
span.error{display: block; width: 100%; padding: 10px; border: 1px dashed red; color: red; margin-bottom: 25px; text-align: center;}