body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FF8F00;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h2.form-signin-heading {
 font-size: 25px;
	color: #CC0400;
	font-weight:bold;
}

button.btn-primary {
	 background: #666 none repeat scroll 0 0;
    border: medium none #666;
    border-radius: 30px;
    padding: 15px;
	margin-top:25px;
}